/**
 * Header
 */
.header {
  @include clearfix;
  @include fixed($left: 0, $top: 0, $right: 0);
  box-shadow: 0 2px 5px rgba(0,0,0,.26);
  // padding: 1em 0;
  background: #fff;
  color: $light-grey;
  z-index: z('dropdown');
  height: 68px;
  @include respond-to('small') {
	left: 0;
  }

  @include respond-to('medium') {
	transition: .2s cubic-bezier(0.215, 0.61, 0.355, 1);
  }
}

/**
 * Main title
 */
.header__title {
  font-weight: 500;
  text-align: center;
  margin: 0 0 0.5em 0;

  a {
    color: $light-grey;
  }

  @include respond-to('medium') {
    float: left;
    font-size: 1em;
    margin-top: .25em;
    margin-bottom: 0;
  }
}

.sidebar__logo img {
  padding-top: .75rem;
  padding-left: 1.05rem;
  height: 58px;
}

.brand__heading {
  display:flex;
  flex-direction: row;
}

.sidebar__title {
  color:#213B77;
  padding: 0;
  font-family: "Arial";
  font-weight: 100;
  font-size: 1.55rem;
  margin-left: .55rem;
  margin-top: 20px;
  display: block;
  letter-spacing: -0.05rem;
}

.versionno {
  color: rgba(0,0,0,.25);
  font-size: 1rem;
  font-weight: 600;
}

.versionno::before,
.versionno::after {
  font-family: "FontAwesome";
}

.versionno::before {
  content: '\f100\00a0';
}

.versionno::after {
  content: '\00a0\f101';
}
