
h1, h2, h3 {
  font-family: 'Ubuntu'
}

h1:first-letter,
h2:first-letter {
  text-transform: uppercase;
}

h1 a {
  color: #fff !important;
}

h1.sidebar__title {
  padding-left: 0;
}


@import url(https://fonts.googleapis.com/css?family=Inconsolata:400,700);
@import url(https://fonts.googleapis.com/css?family=Lora:400,700,400italic);
@import url(https://fonts.googleapis.com/css?family=Ubuntu:700,500,500italic,700italic);
